@value makerLightBlue from '../../common/colors.css';

.list {
	margin: 1em 1em 3em 1em;
	width: 95%;
	height: 40em;
	background-color: rgba(250, 235, 215, 0.76);
	padding: 3em;
	border-radius: 30px;
	transition: all 150ms ease-in;
}

.list:hover {
	transform: translateY(-10px);
	box-shadow: 9px 8px 31px 0px rgba(0, 0, 0, 0.75);
}

.image {
	width: 32em;
	height: 22em;
	border-radius: 0.5rem;
}

.hidden {
	display: none;
}

.title {
	margin: 0.2em;
}

.spec {
	margin: 0.5em;
}

.description {
	margin: 1.7em;
}

.button {
	font-size: 1.2rem;
	padding: 0.4em 1.5em;
	background-color: rgba(0, 0, 0, 0.637);
	color: white;
	outline: 0;
	border: 0;
	border-radius: 5px;
	transition: transform 100ms ease-in;
}

.button:hover {
	cursor: pointer;
	transform: scale(1.1);
}
