@value makerBlack, makerGray, makerLightGray from '../../common/colors.css';

.skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 40em;
	background-color: rgba(255, 255, 255, 0.432);
	width: 95%;
	margin: 5em 0em;
}

.content {
	display: flex;
	border: 1px solid makerBlack;
	margin-top: 2em;
}

.skills_ul {
	width: 40em;
	border-right: 1px solid makerBlack;
}

.others {
	width: 10em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	margin: 1em 0em;
	font-size: 1.2em;
}

.others_ul {
	text-align: center;
	font-size: 0.9rem;
}

.others_ul li {
	margin-bottom: 0.3em;
}

.skills_ul,
.others_ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
